
 
.App {
  background-image: url(./images/Bg.png);
  background-size: contain;
  background-position: top;
  position: relative;
  z-index: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
/* #or::after{
  content: "";
  position: absolute;
  top: 0;
  right: 20%;
} */


