
 
.App {
  background-image: url(./images/Bg.png);
  background-size: contain;
  background-position: top;
  position: relative;
  z-index: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
@media(max-width:400px){
  .App{
    background-image: url(./images/Bg.png);
    background-size: cover;
    height: 100%;
  }
  .header Button{
    font-size: 5px;
    border-radius: 50%;
  }
}



